<form [formGroup]="forgetPasswordForm" class="form">
  <p class="form-title">Reset Password</p>
  <div class="input-container">
    <input type="email" class="w-100" formControlName="email" placeholder="Enter email" >
    <div *ngIf="email.errors && (email.touched || email.dirty)" class="ps-3 text-purple">
      <p *ngIf="(email.touched || email.dirty) && email.errors?.['required']">Email is required</p>
      <p *ngIf="email.touched && email.errors?.['email']">Enter a valid email address</p>
    </div>
  </div>
  <button (click)="Submit()" class="mb-2 submit btn-purple fw-light d-block" >
    Reset Password
    <span [hidden]="!submitted" class="ms-1 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
  <a class="btn border w-100 fw-light" routerLink="/login">Back</a>
</form>
