<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="img-content">
        <img

          src="../../../assets/images/400 Error Bad Request-bro.svg"
          alt="404"
          class="img-fluid  d-block mx-auto"
            style="height: 30rem; width: 30rem;"
          />
      </div>
      <h1 class="text-primary">Payment Cancelled</h1>
      <p class="text-muted">
        We regret to inform you that your payment has been cancelled. An error occurred while processing your payment.
        Kindly double-check your payment details and attempt the payment again. If the problem persists, please
        reach out to our customer support for further assistance.
      </p>


      <a routerLink="/profile/recent-activity" class="btn btn-primary form-control mb-3">Go to Profile</a>
    </div>
  </div>
</div>

