<div class="container">
  <!-- About Page Section Begin -->
<section class="d-flex flex-column gap-3">
  <div class="d-flex col-6 col-md-12">
    <div class="col-lg-6 ">
      <p class="fw-bolder fs-1 text-dark">Welcome To Sona</p>
      <p>Built in 1910 during the Belle Epoque period, this hotel is located in the center of
        Paris, with easy access to the city’s tourist atspanactions. It offers tastefully decorated rooms.</p>
    </div>
    <!-- <div class="col-lg-3">
      <div>
        <i class="fa-solid fa-people-group"></i>
        20% Off On Accommodation
      </div>
      <div>
        <i class="fa-solid fa-socks"></i>
        Laundry Service
      </div>
      <div>
        <i class="fa-solid fa-bowl-food"></i>
        Complimentary Daily Breakfast
      </div>
      <div>
        <i class="fa-solid fa-wifi"></i>
        Free Wifi
      </div>
      <div>
        <i class="fa-solid fa-percent"></i>
        Discount 20% On F&B
      </div>
    </div> -->
  </div>

  <!-- <div class="d-flex flex-column flex-md-row justify-content-center gap-3 col-12">
    <div class="info-card col-md-3 col-12">
      <i class="fa-solid fa-wifi"></i>
      <p>Free Wifi</p>
    </div>
    <div class="info-card col-md-3 col-12">
      <i class="fa-solid fa-people-group"></i>
      <p>20% Off On Accommodation</p>
    </div>
    <div class="info-card col-md-3 col-12">
      <i class="fa-solid fa-bowl-food"></i>
      <p>Complimentary Daily Breakfast</p>
    </div>
    <div class="info-card col-md-3 col-12">
      <i class="fa-solid fa-socks"></i>
      <p>Laundry Service</p>
    </div>
  </div> -->

  <div class="d-flex gap-2 col-6 col-md-12">
    <div class="card border-0 shadow col-12 col-md-3">
      <img src="../../../../assets/img/amr/istockphoto-1329135522-612x612.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Laundry Service</h5>
      </div>
    </div>
    <div class="card border-0 shadow col-12 col-md-3">
      <img src="../../../../assets/img/amr/student-accomodation.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">20% Off On Accommodation</h5>
      </div>
    </div>
    <div class="card border-0 shadow col-12 col-md-3">
      <img src="../../../../assets/img/amr/k_archive_ad813d98c6f2adc683f6c481516eadeee83076ff.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Complimentary Daily Breakfast</h5>
      </div>
    </div>
    <div class="card border-0 shadow col-12 col-md-3">
      <img src="../../../../assets/img/amr/istockphoto-915347404-612x612.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Free Wifi</h5>
      </div>
    </div>
  </div>

  <!-- <div class="d-flex">
    <div class="col-md-4">
      <div style="background-image: url('assets/img/about/about-p1.jpg');">
        <div class="api-text">
          <h3>Restaurants Services</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="background-image: url('assets/img/about/about-p2.jpg');">
        <div class="api-text">
          <h3>spanavel & Camping</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div style="background-image: url('assets/img/about/about-p3.jpg');">
        <div class="api-text">
          <h3>Event & Party</h3>
        </div>
      </div>
    </div>
  </div> -->
</section>


<!-- Video Section Begin -->
<!-- <section class="video-section set-bg"
  style="background-image: url('assets/img/video-bg.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="video-text">
          <h2>Discover Our Hotel & Services.</h2>
          <p>It S Hurricane Season But We Are Visiting Hilton Head Island</p>
          <a href="https://www.youtube.com/watch?v=EzKkl64rRbM"
            class="play-btn video-popup"><img
              src="assets/img/play.png" alt></a>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- Gallery Section Begin -->
<!-- <section class="gallery-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <div>Our Gallery</div>
          <h2>Discover Our Work</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="gallery-item set-bg"
          style="background-image: url('assets/img/gallery/gallery-1.jpg');">
          <div class="gi-text">
            <h3>Room Luxury</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="gallery-item set-bg"
              style="background-image: url('assets/img/gallery/gallery-3.jpg ');">
              <div class="gi-text">
                <h3>Room Luxury</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="gallery-item set-bg"
              style="background-image: url('assets/img/gallery/gallery-4.jpg ');">
              <div class="gi-text">
                <h3>Room Luxury</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="gallery-item large-item set-bg"
          style="background-image: url('assets/img/gallery/gallery-2.jpg ');">
          <div class="gi-text">
            <h3>Room Luxury</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

</div>


<!-- <div class="col-lg-3">
  <div>
    <i class="fa-solid fa-people-group"></i>
    20% Off On Accommodation
  </div>
  <div>
    <i class="fa-solid fa-socks"></i>
    Laundry Service
  </div>
  <div>
    <i class="fa-solid fa-bowl-food"></i>
    Complimentary Daily Breakfast
  </div>
  <div>
    <i class="fa-solid fa-wifi"></i>
    Free Wifi
  </div>
  <div>
    <i class="fa-solid fa-percent"></i>
    Discount 20% On F&B
  </div>
</div> -->
