<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="d-flex flex-column justify-content-center align-items-center
      h-100" >
      <img
        src="../../../../assets/images/email-sent.svg"
        alt=""
        class="w-75 mx-auto"
        style="max-width: 25rem"
      />
      <h2 class="text-center text-primary mb-3">
        Confirmation Email it's on its way
      </h2>
      <p class="text-center mb-4">
        For Security reasons, we need to verify your email address.
        <br />
        Please check your email and follow the instructions to complete your
        registration.
      </p>
      <div class="d-flex jsutify-center align-items-center gap-3 ">
        <a
          href="https://mail.google.com/mail/u/0/#inbox"
          class="btn btn-primary"
          target="_blank"
          >Open my email
        </a>

        <a href="/" class="btn btn-outline-primary"> Go to Home Page </a>
      </div>
    </div>
  </div>
</div>
</div>

