<form [formGroup]="loginForm" class="form">
  <p class="form-title">Log in to your account</p>
  <div class="input-container">
    <input type="email" class="w-100" formControlName="email" placeholder="Enter email" >
    <div *ngIf="email.errors && submitted && (email.touched || email.dirty)" class="ps-3 text-purple">
      <p *ngIf="(email.touched || submitted) && email.errors?.['required']">Email is required</p>
      <p *ngIf="email.touched && email.errors?.['email']">Enter a valid email address</p>
    </div>
  </div>
  <div class="input-container">
    <input type="password" class="w-100" formControlName="password" placeholder="Enter password" >
    <div *ngIf="password.errors && submitted && (password.touched || password.dirty)" class="ps-3 text-purple">
      <p *ngIf="password.errors?.['required']">Password is required.</p>
      <p *ngIf="password.errors?.['minlength']">Password should be at least 8 characters long.</p>
    </div>
  </div>
  <button (click)="Submit()" class="mb-2 submit btn-purple fw-light d-block" >
    Log in
    <span [hidden]="!submitted" class="ms-1 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
  <div class="d-flex align-items-center flex-column text-center">
    <p class="signup-link fw-light text-center"> Not a member? <a class="text-purple" routerLinkActive="active" routerLink="/register">Sign up</a></p>
    <p class="signup-link fw-light text-center"> Forgot password? <a class="text-purple" routerLinkActive="active" routerLink="/forgetPassword">Reset password</a></p>
  </div>
</form>
