.schedule-check{
  min-width: 20vw;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
display: flex !important;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
position: relative !important;
flex-direction: column !important;
padding: 1rem !important;
gap: 1rem !important;
border-radius: var(--bs-border-radius-sm) !important;
}
