<!-- <div class="d-flex" style="width: 100vw;">
  <div >
    <h1>Welcome to Tripify</h1>
  </div>
  <div class="schedule-check fw-light">
    <div>
        <label class="">Check In</label>
        <input class="form-control shadow-none" placeholder="Please select check in date" type="date">
    </div>
    <div>
        <label class="">Check Out</label>
        <input class="form-control shadow-none" placeholder="Please select check out date" type="date">
    </div>
    <button type="button" class="button-padding btn-purple w-100 d-block">Check Availability</button>
  </div>
</div> -->
