<form [formGroup]="userRegisterForm" class="form">
  <p class="form-title">Create a new account</p>
  <div class="input-container">
    <input type="text" class="w-100" formControlName="firstName" placeholder="Enter first name">
    <div *ngIf="firstName.errors && (firstName.touched || firstName.dirty)" class="ps-3 text-purple">
      <p *ngIf="firstName.errors?.['required']">First name is required</p>
      <p *ngIf="firstName.errors?.['pattern']">Enter a valid first name</p>
    </div>
  </div>
  <div class="input-container">
    <input type="text" class="w-100" formControlName="lastName" placeholder="Enter last name">
    <div *ngIf="lastName.errors && (lastName.touched || lastName.dirty)" class="ps-3 text-purple">
      <p *ngIf="lastName.errors?.['required']">Last name is required</p>
      <p *ngIf="lastName.errors?.['pattern']">Enter a valid last name</p>
    </div>
  </div>
  <div class="input-container">
    <input type="text" class="w-100" formControlName="userName" placeholder="Enter username">
    <div *ngIf="userName.errors && (userName.touched || userName.dirty)" class="ps-3 text-purple">
      <p *ngIf="userName.errors?.['required']">Username is required</p>
      <p *ngIf="userName.errors?.['pattern']">Enter a valid username</p>
    </div>
  </div>
  <div class="input-container">
    <input type="email" class="w-100" formControlName="email" placeholder="Enter email">
    <div *ngIf="email.errors && (email.touched || email.dirty)" class="ps-3 text-purple">
      <p *ngIf="email.errors?.['required']">Email is required</p>
      <p *ngIf="email.errors?.['email']">Enter a valid email address</p>
    </div>
  </div>
  <div class="input-container">
    <input type="password" class="w-100" formControlName="password" placeholder="Enter password">
    <div *ngIf="password.errors && (password.touched || password.dirty)" class="ps-3 text-purple">
      <p *ngIf="password.errors?.['required']">Password is required</p>
    </div>
  </div>
  <button (click)="Submit()" class="mb-2 submit btn-purple fw-light d-block">
    Sign Up
    <span [hidden]="!submitted" class="ms-1 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
  <p class="signup-link fw-light text-center">Already registered? <a class="text-purple" routerLink="/login">Log in</a></p>
</form>
