<main>
<section
    class="hero-section hero-section-full-height d-flex justify-content-center align-items-center"
  >
    <div class="section-overlay"></div>

    <div class="container row col-lg-7 d-flex col-12 text-center mx-auto">
      <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
        <span>We clean your</span>
        <span class="cd-words-wrapper ms-3">
          <b class="is-visible">Factory</b>
          <b>Car</b>
          <b>Office</b>
          <b>Kitchen</b>
        </span>
      </h1>
      <div class="d-flex justify-content-center">
        <a class="custom-btn me-3" href="#intro-section">
          <span >Introduction</span>
        </a>

        <a
          class="custom-btn custom-border-btn custom-btn-bg-white btn button button--pan smoothscroll"
          href="#services-section"
        >
          <span>Explore Services</span>
        </a>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-center">
    <app-scheduler></app-scheduler>
  </div>

  <section id="intro-section">
    <div class="container">
      <div class="row justify-content-lg-center align-items-center">
        <div class="col-lg-6 col-12">
          <h2 class="mb-4">
            Reliable &amp; Fast Cleaning <br />
            Service
          </h2>

          <p>
            Our experienced team delivers reliable results with attention to
            detail and utilizes modern equipment and eco-friendly products. We
            value punctuality and customize our services to meet your specific
            needs. Choose us for a reliable and fast cleaning experience that
            leaves your space spotless and refreshed.
          </p>
        </div>

        <div class="col-lg-6 col-12 custom-block-wrap">
          <img
            src="../../../../assets/images/male-wearing-apron-female-white-t-shirt-smiling-broadly-being-glad-clean.png"
            class="img-fluid"
          />

          <div class="custom-block d-flex flex-column">
            <h6 class="text-white mb-3">
              Need Help? <br />
              Please call us:
            </h6>

            <p class="d-flex mb-0">
              <i class="bi-telephone-fill custom-icon me-2"></i>

              <a href="tel: 110-220-9800"> 110-220-9800 </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="services-section section-padding section-bg"
    id="services-section"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h2 class="mb-4">Our best offers</h2>
        </div>

        <div class="col-lg-6 col-12">
          <div class="services-thumb">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-12">
                <div class="services-image-wrap">
                  <a routerLink="/service/office-cleaning">
                    <img
                      src="../../../../assets/images/services/people-taking-care-office-cleaning.jpg"
                      class="services-image img-fluid"
                      alt
                    />
                    <img
                      src="../../../../assets/images/services/person-taking-care-office.jpg"
                      class="services-image services-image-hover img-fluid"
                      alt
                    />
                  </a>
                </div>
              </div>

              <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                <div class="services-info mt-4 mt-lg-0 mt-md-0">
                  <h4 class="services-title mb-1 mb-lg-2">
                    <a
                      class="services-title-link"
                      routerLink="/service/office-cleaning"
                      >Office Cleaning</a
                    >
                  </h4>

                  <p>
                    Regular cleaning and maintenance of office spaces, including dusting, vacuuming, and disinfection, to create a clean and productive workspace for employees.
                  </p>
                  <a
                    class="custom-btn ms-auto"
                    routerLinkActive="active"
                    routerLink="/service/office-cleaning"
                  >
                    <span >Learn More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="services-thumb">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-12">
                <div class="services-image-wrap">
                  <a routerLink="/service/kitchen-cleaning">
                    <img
                      src="../../../../assets/images/services/young-smiling-woman-wearing-rubber-gloves-cleaning-stove.jpg"
                      class="services-image img-fluid"
                      alt
                    />
                    <img
                      src="../../../../assets/images/services/woman-holding-rag-detergent-cleaning-cooker.jpg"
                      class="services-image services-image-hover img-fluid"
                      alt
                    />
                  </a>
                </div>
              </div>

              <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                <div class="services-info mt-4 mt-lg-0 mt-md-0">
                  <h4 class="services-title mb-1 mb-lg-2">
                    <a
                      class="services-title-link"
                      routerLink="/service/kitchen-cleaning"
                      >Kitchen Cleaning</a
                    >
                  </h4>

                  <p>
                    Thorough cleaning of kitchen surfaces, appliances, and floors to maintain hygiene and cleanliness in food preparation areas.
                  </p>

                  <a
                    class="custom-btn ms-auto"
                    routerLinkActive="active"
                    routerLink="/service/kitchen-cleaning"
                  >
                    <span >Learn More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="services-thumb mb-lg-0">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-12">
                <div class="services-image-wrap">
                  <a routerLink="/service/car-washing">
                    <img
                      src="../../../../assets/images/services/man-polishing-car-inside-car-service.jpg"
                      class="services-image img-fluid"
                      alt
                    />
                    <img
                      src="../../../../assets/images/services/man-polishing-car-inside.jpg"
                      class="services-image services-image-hover img-fluid"
                      alt
                    />
                  </a>
                </div>
              </div>

              <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                <div class="services-info mt-4 mt-lg-0 mt-md-0">
                  <h4 class="services-title mb-1 mb-lg-2">
                    <a
                      class="services-title-link"
                      routerLink="/service/car-washing"
                      >Car Washing</a
                    >
                  </h4>

                  <p>
                    Professional cleaning services for vehicles, including interior vacuuming, upholstery cleaning, and exterior washing, to keep cars looking clean and fresh.
                  </p>

                  <a
                    class="custom-btn ms-auto"
                    routerLinkActive="active"
                    routerLink="/service/car-washing"
                  >
                    <span >Learn More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="services-thumb mb-lg-0">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-12">
                <div class="services-image-wrap">
                  <a routerLink="/service/factory-cleaning">
                    <img
                      src="../../../../assets/images/services/professional-industrial-cleaner-protective-uniform-cleaning-floor-food-processing-plant.jpg"
                      class="services-image img-fluid"
                      alt
                    />
                    <img
                      src="../../../../assets/images/services/close-up-mop-cleaning-industrial-plant-floor.jpg"
                      class="services-image services-image-hover img-fluid"
                      alt
                    />
                  </a>
                </div>
              </div>

              <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                <div class="services-info mt-4 mt-lg-0 mt-md-0">
                  <h4 class="services-title mb-1 mb-lg-2">
                    <a
                      class="services-title-link"
                      routerLink="/service/factory-cleaning"
                      >Factory Cleaning</a
                    >
                  </h4>

                  <p>
                    Comprehensive cleaning services tailored for factories, including floor cleaning, equipment maintenance, and sanitation to ensure a safe and efficient working environment.
                  </p>

                  <a
                    class="custom-btn ms-auto"
                    routerLinkActive="active"
                    routerLink="/service/factory-cleaning"
                  >
                    <span >Learn More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
