<section class="banner-section d-flex justify-content-center align-items-end">
  <div class="section-overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-12">
        <h1 class="text-white mb-lg-0">Register</h1>
        <h4 class="text-white mb-lg-0">
          Step into a World of Sparkling Cleanliness!
        </h4>
      </div>

      <div
        class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto"
      >
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- <form
  class="custom-form consulting-form bg-white shadow-lg mb-5 mb-lg-0"
  [formGroup]="userRegisterForm"
  (ngSubmit)="onSubmit()"
>
  <div class="consulting-form-header d-flex align-items-center">
  </div>

  <div class="consulting-form-body">
    <div class="row">
      <div class="col-lg-12">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          class="form-control"
          placeholder="Enter First Name"
          formControlName="firstName"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userRegisterForm.controls['firstName'].invalid &&
            (userRegisterForm.controls['firstName'].dirty ||
              userRegisterForm.controls['firstName'].touched)
          "
        >
          <div *ngIf="userRegisterForm.controls['firstName'].errors">
            <div
              *ngIf="
                userRegisterForm.controls['firstName'].hasError('required')
              "
            >
              First name is required
            </div>
            <div
              *ngIf="userRegisterForm.controls['firstName'].hasError('pattern')"
            >
              First name must contain only letters
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          class="form-control"
          placeholder="Enter Last Name"
          formControlName="lastName"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userRegisterForm.controls['lastName'].invalid &&
            (userRegisterForm.controls['lastName'].dirty ||
              userRegisterForm.controls['lastName'].touched)
          "
        >
          <div *ngIf="userRegisterForm.controls['lastName'].errors">
            <div
              *ngIf="userRegisterForm.controls['lastName'].hasError('required')"
            >
              Last name is required
            </div>
            <div
              *ngIf="userRegisterForm.controls['lastName'].hasError('pattern')"
            >
              Last name must contain only letters
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label for="username">User Name</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter username"
          formControlName="userName"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userRegisterForm.controls['userName'].invalid &&
            (userRegisterForm.controls['userName'].dirty ||
              userRegisterForm.controls['userName'].touched)
          "
        >
          <div *ngIf="userRegisterForm.controls['userName'].errors">
            <div
              *ngIf="userRegisterForm.controls['userName'].hasError('required')"
            >
              User name is required
            </div>
            <div
              *ngIf="userRegisterForm.controls['userName'].hasError('pattern')"
            >
              User name must contain only letters
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
          formControlName="email"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userRegisterForm.controls['email'].invalid &&
            (userRegisterForm.controls['email'].dirty ||
              userRegisterForm.controls['email'].touched)
          "
        >
          <div *ngIf="userRegisterForm.controls['email'].errors">
            <div
              *ngIf="userRegisterForm.controls['email'].hasError('required')"
            >
              Email is required
            </div>
            <div *ngIf="userRegisterForm.controls['email'].hasError('pattern')">
              Email must be in the following format example@example.com
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
          formControlName="password"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userRegisterForm.controls['password'].invalid &&
            (userRegisterForm.controls['password'].dirty ||
              userRegisterForm.controls['password'].touched)
          "
        >
          <div *ngIf="userRegisterForm.controls['password'].errors">
            <div
              *ngIf="userRegisterForm.controls['password'].hasError('required')"
            >
              Password is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button type="submit" class="form-control">Register</button>
      </div>
    </div>
  </div>
</form> -->

<div class="custom-form bg-white shadow-lg my-5 w-75 mx-auto">
  <form
    [formGroup]="userRegisterForm"
    class="custom-form consulting-form"
    (ngSubmit)="onSubmit()"
  >
    <div class="consulting-form-body">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <!-- firstName input -->
            <div class="col-md-12">
              <label for="firstName">First Name</label>
              <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="Enter First Name"
                formControlName="firstName"
                class="form-control"
              />
            </div>
            <!-- BE VALIDATION -->
            <div
              class="col-md-12"
              *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('FirstName')"
            >
              <div
                *ngFor="
                  let missingFieldErrorItem of missingFeildsErrosObject[
                    'FirstName'
                  ]
                "
                class="alert alert-danger"
              >
                <div>
                  {{ missingFieldErrorItem }}
                </div>
              </div>
            </div>
            <!-- FE VALIDATION -->
            <div class="col-md-12" *ngIf="this.firstNameFEValidation">
              <div class="alert alert-danger">
                <div *ngIf="userRegisterForm.controls['firstName'].errors">
                  <div
                    *ngIf="
                      userRegisterForm.controls['firstName'].hasError(
                        'required'
                      )
                    "
                  >
                    first name is required
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.controls['firstName'].hasError('pattern')
                    "
                  >
                    first name must contain only letters
                  </div>
                </div>
              </div>
            </div>

            <!-- last name input -->
            <div class="col-md-12">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Enter Last Name"
                formControlName="lastName"
                class="form-control"
              />
            </div>
            <div class="col-md-12" *ngIf="this.lastNameFEValidation">
              <div class="alert alert-danger" *ngIf="this.lastNameFEValidation">
                <div *ngIf="this.lastNameFEValidation">
                  <div
                    *ngIf="
                      userRegisterForm.controls['lastName'].hasError('required')
                    "
                  >
                    last name is required
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.controls['lastName'].hasError('pattern')
                    "
                  >
                    last name must contain only letters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- username input -->
        <div class="col-md-12">
          <label for="username">User Name</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter username"
            formControlName="userName"
            class="form-control"
          />
        </div>
        <div
          class="col-md-12"
          *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('UserName')"
        >
          <div
            *ngFor="
              let missingFieldErrorItem of missingFeildsErrosObject['UserName']
            "
            class="alert alert-danger"
          >
            <div>
              {{ missingFieldErrorItem }}
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="this.userNameFEValidation">
          <div class="alert alert-danger" *ngIf="this.userNameFEValidation">
            <div *ngIf="this.userNameFEValidation">
              <div
                *ngIf="
                  userRegisterForm.controls['userName'].hasError('required')
                "
              >
                user name is required
              </div>
              <div
                *ngIf="
                  userRegisterForm.controls['userName'].hasError('pattern')
                "
              >
                user name must contain only letters
              </div>
            </div>
          </div>
        </div>

        <!-- Email input -->
        <div class="col-md-12">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="text"
            placeholder="Enter Email"
            formControlName="email"
            class="form-control"
          />
        </div>
        <div class="col-md-12" *ngIf="this.emailFEValidation">
          <div class="alert alert-danger" *ngIf="this.emailFEValidation">
            <div *ngIf="this.emailFEValidation">
              <div
                *ngIf="userRegisterForm.controls['email'].hasError('required')"
              >
                email is required
              </div>
              <div
                *ngIf="userRegisterForm.controls['email'].hasError('pattern')"
              >
                email must be in the folowing format example@example.com
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-12"
          *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Email')"
        >
          <div
            *ngFor="
              let missingFieldErrorItem of missingFeildsErrosObject['Email']
            "
            class="alert alert-danger"
          >
            <div>
              {{ missingFieldErrorItem }}
            </div>
          </div>
        </div>

        <!-- password input -->
        <div class="col-md-12">
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Enter Password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div
          class="col-md-12"
          *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Password')"
        >
          <div
            *ngFor="
              let missingFieldErrorItem of missingFeildsErrosObject['Password']
            "
            class="alert alert-danger"
          >
            <div>
              {{ missingFieldErrorItem }}
            </div>
          </div>
        </div>

        <div class="col-lg-12 text-center">
          <button type="submit" class="form-control">Register</button>
        </div>
      </div>
    </div>
  </form>
</div>
