<section class="banner-section d-flex justify-content-center align-items-end">
  <div class="section-overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-12">
        <h1 class="text-white mb-lg-0">Forget Password</h1>
        <h4 class="text-white mb-lg-0">
          Reclaim Access to Your Spotless Account!
        </h4>
      </div>

      <div
        class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto"
      >
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Forget Password
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="custom-form bg-white shadow-lg my-5 w-75 mx-auto">
  <section class="contact-section spad">
    <div class="container">
      <form class="custom-form consulting-form" [formGroup]="forgetPasswordForm">
        <div class="row mt-3">
          <div class="col-12">
            <input
              type="email"
              formControlName="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              placeholder="Enter your email"
              class="form-control"
            />
          </div>

          <div class="col-lg-12">
            <button
              type="submit"
              class="w-100 mb-3"
              (click)="sendConfirmationEmail()"
              class="form-control"

            >
              Send Confirmation Link
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
