.nav-link{
  cursor: pointer;
  color:rgb(255, 255, 255);
}

.nav-link:hover,.nav-link:focus{
  color:black;
}

.input-group-text{
  cursor: pointer;
  transition: all 0.2s;
}

.input-group-text:hover{
  background-color: rgb(228, 228, 228);
}

