<main>
  <section class="banner-section d-flex justify-content-center align-items-end">
    <div class="section-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-12">
          <h1 class="text-white mb-lg-0">About Us</h1>
        </div>
        <div
          class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a routerLink>Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <div class="d-flex gap-5 align-items-center">

        <div class="col-lg-6 col-12">
          <img
            src="../../../../assets/images/cleaning-concept-with-man-showing-business-card.jpg"
            class="featured-image img-fluid rounded-2">
        </div>

        <div class="col-lg-6 col-12">
          <div class="featured-block">
            <h2 class="my-3 my-lg-2">Cleaning Service Agency Since 2018</h2>
            <p class="mb-2">Founded in 2018, the cleaning organization swiftly
              established itself as a leading provider of specialized cleaning
              services.</p>
            <p class="mb-2">Starting with residential cleaning, the organization
              quickly expanded its offerings to include kitchen cleaning
              services.</p>
            <p class="mb-2">With trained professionals and industry-grade tools,
              they ensured hygienic and spotless kitchen environments. </p>
            <p class="mb-2">Building on their success, they ventured into office
              cleaning, delivering clean and organized workspaces to businesses.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="team-section section-padding section-bg">
    <div class="container">
      <div class="row justify-content-center gap-4">
        <div class="col-12">
          <h2 class="mb-4">Meet People</h2>
        </div>
        <div *ngFor="let Resource of Resources" class="card" style="width: fit-content;">
          <div class="card-img-container">
            <img src="{{Resource.imageUrls[0]}}" class="card-img">
          </div>
          <span class="d-flex px-3 justify-content-between card-body">
            <span class="card-text">{{Resource.name}}</span>
            <span>{{Resource.price}}$</span>
            </span>
        </div>
      </div>
    </div>
  </section>
</main>
