<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="img-content">
        <img

          src="../../../assets/images/Successful Payment.svg"
          alt="404"
          class="img-fluid  d-block mx-auto"
            style="height: 30rem; width: 30rem;"
          />
      </div>
      <h1 class="text-primary">Booking Confirmed</h1>
      <p class="text-muted">
        Thank you for booking a cleaning worker. Your payment has been successfully processed, and your booking is confirmed.
      </p>

      <a routerLink="/profile/recent-activity" class="btn btn-primary form-control mb-3">Go to Profile</a>
    </div>
  </div>
</div>

