.services-thumb {
  background-color: var(--white-color);
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 30px;
}

.services-thumb.section-bg {
  background: var(--section-bg-color);
}

.services-detail-section .services-image {
  aspect-ratio: 0;
}

.services-image-wrap {
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
}

.services-image-wrap:hover .services-image-hover {
  opacity: 1;
}

.services-title-link {
  display: block;
}

.services-image,
.team-image {
  border-radius: var(--border-radius-small);
  display: block;
  aspect-ratio: 1;
  object-fit: cover;
  transition: all 0.5s;
}

.services-image-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.services-icon-wrap {
  background: var(--secondary-color);
  color: var(--white-color);
  font-size: var(--h3-font-size);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.5s;
  padding: 8px 12px;
}

.services-icon-wrap .button--skoll {
  width: 100%;
  height: 100%;
}




h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.page-404-title {
  color: var(--secondary-color);
  font-size: 10rem;
}


/*---------------------------------------
  SECTION
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.testimonial-section .section-overlay {
  opacity: 0.85;
}

.section-overlay + .container {
  position: relative;
}
