<!-- <div
  class="footer">

  <div class="text-purple text-[2.2rem] d-flex align-items-center gap-4">
    <i class="fa-solid fa-spa fx"></i>
    <p class="my-2 fw-bold">Tripify</p>
  </div>

  <div
    class="fw-light d-flex gap-3">
    <p class="text-purple fw-normal">Home</p>
    <p>About</p>
    <p>Contact</p>
    <p>FAQ</p>
    <p>Feedback</p>
  </div>

  <div class="d-flex text-[1.3rem] gap-5 text-purple">
    <i class="fa-brands fa-facebook-f "></i>
    <i class="fa-brands fa-twitter "></i>
    <i class="fa-brands fa-instagram "></i>
  </div>

</div> -->

<div
  class="footer">

  <div class="d-flex flex-column">
    <div class="text-purple text-[2rem] d-flex align-items-center gap-4">
      <i class="fa-solid fa-spa fx"></i>
      <p class="my-2 fw-bold">Tripify</p>
    </div>
    <span class="fw-light fs-6 mb-3">Copyright &copy; 2023. All rights
      reserved.</span>
  </div>

  <div class="fw-light d-flex gap-5">
    <p class="pointerCursor" routerLink="home" routerLinkActive="text-purple fw-normal">Home</p>
    <p class="pointerCursor" routerLink="about" routerLinkActive="text-purple fw-normal">About</p>
    <p class="pointerCursor" routerLink="contact" routerLinkActive="text-purple fw-normal">Contact</p>
    <p class="pointerCursor" routerLink="faq" routerLinkActive="text-purple fw-normal">FAQ</p>
    <p class="pointerCursor" routerLink="feedback" routerLinkActive="text-purple fw-normal">Feedback</p>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex text-[1.3rem] gap-5 text-purple">
      <i class="fa-brands fa-facebook-f "></i>
      <i class="fa-brands fa-twitter "></i>
      <i class="fa-brands fa-instagram "></i>
    </div>
    <div class="d-flex flex-column">
      <!-- <span class="fw-normal fs-6">Subscribe to our newsletter</span> -->
      <!-- <div class="input-group">
        <input type="text" class="form-control py-2" placeholder="Email address"
          aria-label="email" aria-describedby="basic-addon1">
        <button
          class="shadow-none px-3 rounded-end-2 fs-5 btn-purple"> >
        </button>
      </div> -->
    </div>
  </div>

</div>
