<footer class="site-footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-12 mb-4 mb-lg-0">
        <h5 class="site-footer-title mb-3">Our Services</h5>

        <ul class="footer-menu">

          <li class="footer-menu-item" *ngFor="let ser of services">
            <a class="footer-menu-link">
              <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
              {{ser.name}}
            </a>
          </li>

          <!-- <li class="footer-menu-item">
            <a class="footer-menu-link">
              <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
              House Cleaning
            </a>
          </li>

          <li class="footer-menu-item">
            <a class="footer-menu-link">
              <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
              Car Washing
            </a>
          </li>

          <li class="footer-menu-item">
            <a class="footer-menu-link">
              <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
              Laundry
            </a>
          </li>

          <li class="footer-menu-item">
            <a class="footer-menu-link">
              <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
              Office Cleaning
            </a>
          </li>

          <li class="footer-menu-item">
            <a class="footer-menu-link">
              <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
              Toilet Cleaning
            </a>
          </li> -->
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
        <h5 class="site-footer-title mb-3">Office</h5>

        <p class="text-white d-flex mt-3 mb-2">
          <i class="bi-geo-alt-fill me-2"></i>
          Akershusstranda 20, 0150 Oslo, Norway
        </p>

        <p class="text-white d-flex mb-2">
          <i class="bi-telephone-fill me-2"></i>

          <a href="tel: 102-483-9986" class="site-footer-link">
            01063462156
          </a>
        </p>

        <p class="text-white d-flex">
          <i class="bi-envelope-fill me-2"></i>

          <a href="mailto:ayaulshenawy@gmail.com" class="site-footer-link">
            ayaulshenawy@gmail.com
          </a>
        </p>
      </div>

      <div class="col-lg-3 col-md-6 col-6 mt-3 mt-lg-0 mt-md-0">
        <div class="featured-block">
          <h5 class="text-white mb-3">Service Hours</h5>

          <strong class="d-block text-white mb-1">Every day</strong>

          <p class="text-white mb-3">09:00 AM - 06:00 PM</p>

        </div>
      </div>
    </div>
  </div>
</footer>
