

  <div class="resource-card">
    <div class="photo">
      <img src="../../../../assets/images/slideshow/afro-woman-cleaning-window-with-rag-home.jpg" alt="Resource Photo">
    </div>
    <div class="card-content">
      <h1 class="resource-name">Resource Name</h1>
      <div class="location">Location: New York, USA</div>
      <div class="price-reviews">
        <div class="price">Price: $10</div>
        <div class="reviews">Reviews: 4.5 stars</div>
      </div>
    </div>
  </div>
  
  
  
  
