<form class="appointment d-flex d-md-flex justify-content-center bg-white" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <div class="col-12 col-md form-group py-md-4 py-2">
      <label for="day">Day:</label>
      <input placeholder="Select Date" formControlName="day" class="form-control" (click)="d.toggle()" type="text" ngbDatepicker #d="ngbDatepicker"/>
      <div *ngIf="day.errors?.['required'] && (day.touched || day.dirty)" class="text-danger">Day is required</div>
    </div>
    <div class="col-12 col-md-2 form-group py-md-4 py-2">
      <label for="start">Start:</label>
      <input type="time" formControlName="startTime" class="form-control">
      <div *ngIf="startTime.errors?.['required'] && (startTime.touched || startTime.dirty)" class="text-danger">Start time is required</div>
    </div>
    <div class="col-12 col-md-2 form-group py-md-4 py-2">
      <label for="start">End:</label>
      <input type="time" formControlName="endTime" class="form-control">
      <div *ngIf="endTime.errors?.['required'] && (endTime.touched || endTime.dirty)" class="text-danger">Start time is required</div>
    </div>
    <div class="col-12 col-md-3 form-group py-md-4 py-2">
      <label for="name">Select Location</label>
      <div class="form-field">
        <div class="select-wrap">
          <div class="icon"><span class="fa fa-chevron-down"></span></div>
          <select name="" id="" class="form-control">
            <option value="">Select Location</option>
            <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12 col-md form-group py-md-4 py-2 d-flex">
      <input type="submit" value="Make an Appointment" class="btn btn-primary px-3 py-4">
    </div>
  </div>
</form>
