form{
  text-align: left;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
  box-sizing: border-box;
  width: 100% !important;
}

.form-div{
  /* text-align: left; */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
  box-sizing: border-box;
  background-color: #fff !important;
  display: flex !important;
  padding-bottom: 0 !important;
  /* padding-left: 1.5rem !important; */
  box-shadow: 0px 12px 31px -16px rgba(0, 0, 0, 0.15);
  margin-top: 50px;
}
