<div class="container mt-5 mb">
  <!-- <div class="example-action-buttons">
    <button mat-button (click)="EditActive()">Edit</button>
  </div> -->
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel (click)="editActive=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Name
      </mat-panel-title>
      <mat-panel-description>
        {{user.firstName +" "+user.lastName}}
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="nameForm"  class="row">
      <div class="m-1">
          <span class="titel">First Name:</span>
          <input type="text" formControlName="firstName" >
          <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
          <div class="error-message" *ngIf="firstName?.errors?.['required']">First Name is required</div>
          </div>
      </div>
      <div class="m-1">
          <span class="titel">Last Name:</span>
          <input type="text" formControlName="lastName" [value]="user.lastName">
          <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
          <div class="error-message" *ngIf="lastName?.errors?.['required']">Last Name is required</div>
      </div>
      </div>

    </form>

  </mat-expansion-panel>


  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        UserName
      </mat-panel-title>
      <mat-panel-description>
        {{user.userName}}
        <mat-icon>assignment_ind</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel (click)="editActive=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Email
      </mat-panel-title>
      <mat-panel-description>
        {{user.email}}
        <mat-icon> mail_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <form [formGroup]="emailForm" (ngSubmit)="UpdateEmail()">
        <span  class="titel d-block d-md-none">Email</span>
          <input type="email" formControlName="email">
          <div class="error-message" *ngIf="IsEmailErrors">{{EmailErrors}}</div>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <div class="error-message" *ngIf="email?.errors?.['required']">Email is required</div>
              <div class="error-message" *ngIf="email?.errors">Invalid email format</div>
          </div>
      </form>
  </mat-expansion-panel>

  <mat-expansion-panel (click)="editActive=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Address
      </mat-panel-title>
      <mat-panel-description>
        {{user.address??"Please Add Your Address"}}
        <mat-icon>location_on</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="addressForm" >
      <span  class="titel d-block d-md-none">Address:</span>
        <input type="text" formControlName="address" [value]="user.address">
        <div *ngIf="address?.invalid && (address?.dirty || address?.touched)">
          <div class="error-message" *ngIf="address?.errors?.['required']">Address is required</div>
        </div>
    </form>

  </mat-expansion-panel>

  <mat-expansion-panel (click)="editActive=true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Phone
      </mat-panel-title>
      <mat-panel-description>
        {{user.phoneNumber??"Please Add Your Number"}}
        <mat-icon> phone</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="phoneForm" >
      <span  class="titel d-block d-md-none">Phone:</span>
        <input type="tel" formControlName="phone">
        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
          <div class="error-message" *ngIf="phone?.errors?.['required']">Phone is required</div>
          <div class="error-message" *ngIf="phone?.errors?.['pattern']">Invalid phone format</div>
        </div>
      </form>

  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="editActive" class="example-action-buttons">
  <button mat-button class="btn btn-save" (click)="Save()">Save</button>
  <button mat-button class="btn btn-cancel" (click)="EditDeactivate()">Cancel</button>
</div>
</div>
