<section class="banner-section d-flex justify-content-center align-items-end">
  <div class="section-overlay"></div>

  <div class="container">
      <div class="row">

          <div class="col-lg-7 col-12">
              <h1 class="text-white mb-lg-0">Confirm Email</h1>
                 <h4 class="text-white mb-lg-0">Unlock the Gateway to Immaculate Services!</h4>
          </div>

          <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Confirm Email</li>
                  </ol>
              </nav>
          </div>

      </div>
  </div>
</section>


  <div class="container my-5">
    <div class="row border  p-4 mx-2">
      <div class="col-lg-12 text-center pt-2"></div>
      <div class="col-lg-12 text-center">
        <img src="../../../../assets/images/confirm.svg"
          style="width: 25rem; height: 25rem;" class="img-fluid" alt="confirm" 
        >
        <p class="h3">Thank you for confirming your email address.</p>
        <p>You can now login to your account.</p>
      </div>
      <div class="col-lg-12 text-center my-2">
        <a class="btn btn-primary" href="/login" >Login</a>
      </div>
    </div>
  </div>


<!-- <section class="contact-section spad">
  <div class="container contact-form">
    <div class="row border shadow p-4">
      <div class="col-lg-12 text-center pt-2"></div>
      <div class="col-lg-12 text-center">
        <h1 class="text-center mb-4 fw-bold" style="color:#dfa974">Confirm Email</h1>
        <p class="h3 ">Thank you for confirming your email address.</p>
        <p>You can now login to your account.</p>
        </div>
        <button routerLink="/login" type="submit"> Login </button>
    </div>
  </div>
</section> -->
