.Cancelled{
    background-color: #FBE4E5;
    color: red;
    border-radius: 5px;
    border: none 1px;
    padding: 10px;
}

.Pending , .InProcess{
    background-color: #fbf0db;
    color:#a58736 ;
    border-radius: 5px;
    border: none 1px;
    padding: 10px;
}

.Confirmed{
    background-color:#ecf4ef;
    color: #17793d;
    border-radius: 5px;
    border: none 1px;
    padding: 10px;
}
.Completed{
    background-color:#fcfcfc;
    color: #252726;
    border-radius: 5px;
    border: none 1px;
    padding: 10px;
}
.btn{
    line-height: normal;
    transition: all 0.3s;
    margin: 5px;
    padding: 8px 15px;
}
.cancel-btn:hover{
    background: red;
    color:white !important;
}
.pay-btn:hover{
    background-color:#ecf4ef;
    color: #17793d;
}
.refund-btn:hover{
    background: red;
    color:white !important;

}
.view-btn{
    background: var(--custom-btn-bg-hover-color);
    color:white !important;
}

.search{
    padding: 5px 5px 5px 10px;
}
.dd{
    justify-content: end;
    text-align: end;
}

.filters{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

}
  .filter-control {

    padding: 0.275rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  